---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <h1>About Me</h1>
  
  <p>Hi! I'm George Coldham, and this is my little corner of the internet.</p>
  
  <h2>Who Am I?</h2>
  <p>
    I'm passionate about technology, coding, and building things on the web. 
    This blog is where I share my journey, projects, and thoughts.
  </p>
  
  <h2>What I Do</h2>
  <p>
    I spend my time learning new technologies, working on side projects, 
    and exploring the ever-evolving world of web development.
  </p>
  
  <h2>Why "My Awkward Space"?</h2>
  <p>
    Everyone's journey in tech is a bit awkward at times - filled with bugs, 
    learning curves, and moments of "why isn't this working?!" This space 
    embraces that awkwardness and celebrates the learning process.
  </p>
  
  <h2>Get in Touch</h2>
  <p>
    Want to connect? Check out my <a href="/links">links page</a> to find me 
    on various platforms!
  </p>
</Layout>
